.modal-overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.45);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2000;
}

.login-modal {
  width: 420px;

  background: white;

  padding: 40px;

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 18px;
}

.modal-close-btn {
  position: absolute;
  top: 18px;
  right: 18px;

  border: none;
  background: none;

  cursor: pointer;

  font-size: 18px;
}

.modal-label {
  letter-spacing: 3px;
  text-transform: uppercase;

  font-size: 12px;

  color: #888;
}

.login-modal h2 {
  font-family: "Playfair Display", serif;
  font-size: 42px;

  margin-bottom: 10px;
}

.login-modal input {
  padding: 16px;

  border: 1px solid #ddd;

  font-size: 14px;
}

.login-btn {
  background: black;
  color: white;

  border: none;

  padding: 16px;

  cursor: pointer;

  letter-spacing: 2px;
  text-transform: uppercase;
}

.switch-auth {
  text-align: center;

  font-size: 14px;

  color: #666;
}

.switch-auth span {
  color: black;

  cursor: pointer;
  font-weight: 600;
}

.auth-error {
  color: #d62828;

  font-size: 14px;

  margin-bottom: 16px;

  text-align: center;
}
